@charset "UTF-8";
@import url(normalize/normalize.css);
@import url(reset/reset.css);
/*** VARIABLES
--------------------------------------------*/
/*** MIXINS
--------------------------------------------*/
/*** LAYOUT
--------------------------------------------*/
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialised; }

body {
  background: white;
  color: #555;
  font: 62.5%/1.5 sans-serif; }

.sidebar {
  width: 300px;
  position: fixed;
  top: 100px;
  left: 0;
  padding: 0 20px 0 50px; }
  .sidebar header {
    font-size: 1.6em; }
  .sidebar nav {
    font-size: 1.6em; }
  .sidebar nav a {
    display: block; }
  .sidebar footer {
    font-size: 1.2em; }

main {
  position: absolute;
  left: 300px;
  top: 20px;
  padding: 30px 50px;
  font-size: 1.6em;
  width: 700px;
  border: 10px solid #e8b51c; }

/*** TEXT & TYPOGRAPHY
--------------------------------------------*/
dl {
  margin-bottom: 2em; }

dt,
dd {
  float: left;
  border-bottom: 1px solid #eee; }

dt {
  width: 250px; }

dd {
  width: 330px; }

.light-text {
  color: #999; }

/*** SHARED
--------------------------------------------*/
/*** OBJECTS
--------------------------------------------*/
/*** IMAGES
--------------------------------------------*/
/*** LINKS
--------------------------------------------*/
/*** TABLES
--------------------------------------------*/
/*** FORMS
--------------------------------------------*/
/*** SELECTION HIGHLIGHTS
--------------------------------------------*/
::-moz-selection {
  background: #507aa5;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #507aa5;
  color: #fff;
  text-shadow: none; }

/*** HELPER CLASSES
--------------------------------------------*/
/*** CLEARFIX
--------------------------------------------*/
.cf:before, .cf:after, dl:before, dl:after {
  content: "";
  display: table; }

.cf:after, dl:after {
  clear: both; }

.cf, dl {
  *zoom: 1; }
