@charset "UTF-8";
@import "normalize/normalize.css";
@import "reset/reset.css";

/*** VARIABLES
--------------------------------------------*/
$yellow: #F9B233;

/*** MIXINS
--------------------------------------------*/

/*** ANIMATIONS
--------------------------------------------*/

/* Logo */
@keyframes enter-left {
	0% {
		opacity: 0;
		transform: translateX(-40px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* Nav Toggle */
@keyframes slide-down-rotate {
	0% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}
	50% {
		transform: translateY(10px) rotate(0);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translateY(10px) rotate(45deg);
		transform-origin: 50% 50%;
	}
}
@keyframes slide-down-rotate-reverse {
	0% {
		transform: translateY(10px) rotate(45deg);
		transform-origin: 50% 50%;
	}
	50% {
		transform: translateY(10px) rotate(0);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translateY(0px) rotate(0deg);
		transform-origin: 50% 50%;
	}
}
@keyframes slide-up-rotate {
	0% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}
	50% {
		tranform: translateY(-10px) rotate(0);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translateY(-10px) rotate(-45deg);
		transform-origin: 50% 50%;
	}
}
@keyframes slide-up-rotate-reverse {
	0% {
		transform: translateY(-10px) rotate(-45deg);
		transform-origin: 50% 50%;
	}
	50% {
		transform: translateY(-10px) rotate(0);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}
}
@keyframes line-hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*** LAYOUT
--------------------------------------------*/

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialised;
}
body {
	color: #555;
	font: 62.5%/1.5 sans-serif;
	font-family: "aktiv-grotesk-std", sans-serif;
}
header {
	padding: 40px 0 20px 40px;

	.brand--animated {
		animation: enter-left 0.4s;
	}
}
.js--nav-toggle {
	position: relative;
	width: 30px;
	height: 24px;
}
.nav-toggle-line {
	width: 30px;
	position: absolute;
	left: 0;
}
.nav-toggle_top-line {
	top: 0;
}
.nav-toggle_middle-line {
	top: 10px;
}
.nav-toggle_bottom-line {
	bottom: 0;
}
.js--nav-toggle--to-x {
	.nav-toggle_top-line {
		animation: slide-down-rotate 0.3s ease forwards;
	}
	.nav-toggle_bottom-line {
		animation: slide-up-rotate 0.3s ease forwards;
	}
	.nav-toggle_middle-line {
		animation: line-hide 0.3s ease forwards;
	}
}
.js--nav-toggle--from-x {
	.nav-toggle_top-line {
		animation: slide-down-rotate-reverse 0.3s ease;
	}
	.nav-toggle_bottom-line {
		animation: slide-up-rotate-reverse 0.3s ease;
	}
}
.sidebar {
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background: #444;
	color: white;

	nav {
		font-size: 1.6em;

		a {
			display: block;
			color: white;
			padding: 5px 40px;

			&:hover {
				text-decoration: none;
				background: #333;
			}
		}
	}
	footer {
		padding: 0 40px;
		font-size: 1.2em;

		a {
			color: white;
		}
	}
}
main {
	margin: 40px 0 50px 350px;
	font-size: 1.6em;
	width: 700px;
	height: auto;
	position: relative;
}

/*** TEXT & TYPOGRAPHY
--------------------------------------------*/
h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
	color: #454;
	font-family: "futura-pt", sans-serif;
}
h1 {
	margin: 0 0 0.5em 0;
}
h2 {
	margin: 0 0 0.2em 0;
}
h3 {
	margin: 0 0 0.5em;
}
p {
	margin: 0 0 1em 0;
}
ul {
	margin: 0 0 1em 1.2em;

	li 	{
		margin: 0 0 0.3em;
	}
}
ol {
	margin: 0 0 0 1.3em;
}
.command-list {
	margin-bottom: 2em;
	margin-left: 0;
	border-bottom: 1px solid #ddd;
	list-style: none;

	&.no-border {
		border-bottom: 0;
		margin: 0;
	}
	li {
		border-top: 1px solid #ddd;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
	}
	p {
		float: left;
		margin: 0;
		width: 60%;

		&:first-child {
			width: 37%;
			padding-right: 3%;
			clear: left;
			font-family: "anonymous-pro", monospace;
		}
	}
}
.lede {
	font-size: 1.2em;
}
.light-text {
	color: #999;
}

/*** SHARED
--------------------------------------------*/

/*** OBJECTS
--------------------------------------------*/

/* Site Nav */
.site-nav_list {
	list-style: none;
	margin: 0 0 20px 0;
}
.site-nav_list-item {
	margin: 0 0 5px 0;
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
}
.site-nav_link {
	color: #333;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}

/* Sheet Index */

.sheet-index {
	border: 2px solid $yellow;
	border-radius: 4px;
	padding: 1em;
	width: 280px;
	position: fixed;
	top: 20px;
	left: 1080px;
}

@media only screen and (max-width: 1380px) {
	.sheet-index {
		position: static;
		width: auto;
		margin: 0 0 1.5em;
		font-size: 0.9em;
		border: none;
		padding: 0;
	}
}

/*** IMAGES
--------------------------------------------*/

/*** LINKS
--------------------------------------------*/

a {
	text-decoration: underline;
	color: indianred;
}
footer a {
	color: #666;
}
.brand {
	width: 150px;
}
.js--nav-toggle {
	display: none;
	background: none;
	border: 0;
}

/*** TABLES
--------------------------------------------*/

/*** FORMS
--------------------------------------------*/

#search-sheet {
	margin: 0 0 30px 0;
	padding: 0.3em 1em;
	border: 3px solid $yellow;
	border-radius: 30px;

	&:focus {
		position: relative;
		top: -2px;
		left: -2px;
		border-width: 5px;
		outline: 0;
		margin-bottom: 26px;
	}
}

/*** SELECTION HIGHLIGHTS
--------------------------------------------*/

::-moz-selection { background: lighten($yellow, 35); color: #333; text-shadow: none; }
::selection { background: lighten($yellow, 35); color: #333; text-shadow: none; }

/*** HELPER CLASSES
--------------------------------------------*/

/*** CLEARFIX
--------------------------------------------*/
.cf:before, .cf:after, .command-list li:before, .command-list li:after { content: ""; display: table; }
.cf:after, .command-list li:after { clear: both; }
.cf, .command-list li { *zoom: 1; }

/*** MEDIA QUERIES
--------------------------------------------*/

@media only screen and (max-width: 1100px) {

	main {
		margin: 100px auto 20px;
		width: 92%;
	}
	header {
		width: 100%;
		padding: 20px 0 15px 25px;
	}
	.brand {
		width: 100px;
	}
	.js--nav-toggle {
		display: block;
		float: right;
		margin: 25px 25px 0 0;
	}
	.sidebar {
		position: absolute;
		top: 0;
		bottom: auto;
		width: 100%;
		z-index: 2;

		nav,
		footer {
			display: none;
		}
		nav {
			a {
				padding: 10px 25px;
			}
		}
		footer {
			padding: 10px 25px;
		}
	}
	.site-nav_link {
		font-size: 120%;
	}
	.platform-toggles {
		top: 110px;
		right: 65px;
		left: auto;
	}

}

@media only screen and (max-width: 700px) {

	.command-list {
		p {
			float: none;
			width: 100%;

			&:first-child {
				margin: 0 0 0.5em 0;
				float: none;
				width: 100%;
			}
		}
	}
	.platform-toggles {
		top: auto;
		bottom: 20px;
		right: 7%;
	}

}

@media print {

	header {
		position: static;
		text-align: center;
		margin: 3em 0 0 0;
	}
	.sidebar {
		display: none;
	}
	main {
		width: 90%;
		margin: 0 auto;
	}
	#search-sheet {
		display: none;
	}
	.command-list {
		font-size: 0.9em;

		li {
			padding-top: 0.3em;
			padding-bottom: 0.3em;
		}
	}

}