@charset "UTF-8";
@import "normalize/normalize.css";
@import "reset/reset.css";

/*** VARIABLES
--------------------------------------------*/

/*** MIXINS
--------------------------------------------*/

/*** LAYOUT
--------------------------------------------*/

body {
	background: #eee;
}

/*** TEXT & TYPOGRAPHY
--------------------------------------------*/

/*** SHARED
--------------------------------------------*/

/*** OBJECTS
--------------------------------------------*/

/*** IMAGES
--------------------------------------------*/

/*** LINKS
--------------------------------------------*/

/*** TABLES
--------------------------------------------*/

/*** FORMS
--------------------------------------------*/

/*** SELECTION HIGHLIGHTS
--------------------------------------------*/

::-moz-selection { background: #507aa5; color: #fff; text-shadow: none; }
::selection { background: #507aa5; color: #fff; text-shadow: none; }

/*** HELPER CLASSES
--------------------------------------------*/

/*** CLEARFIX
--------------------------------------------*/
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }