@charset "UTF-8";
@import "normalize/normalize.css";
@import "reset/reset.css";

/*** VARIABLES
--------------------------------------------*/
$yellow: #E8B51C;

/*** MIXINS
--------------------------------------------*/

/*** LAYOUT
--------------------------------------------*/

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialised;
}
body {
	background: white;
	color: #555;
	font: 62.5%/1.5 sans-serif;
}
.sidebar {
	width: 300px;
	position: fixed;
	top: 100px;
	left: 0;
	padding: 0 20px 0 50px;

	header {
		font-size: 1.6em;
	}
	nav {
		font-size: 1.6em;
	}
		nav a {
			display: block;
		}
	footer {
		font-size: 1.2em;
	}
}
main {
	position: absolute;
	left: 300px;
	top: 20px;
	padding: 30px 50px;
	font-size: 1.6em;
	width: 700px;
	border: 10px solid $yellow;
}

/*** TEXT & TYPOGRAPHY
--------------------------------------------*/
h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	color: #333;
}
h2 {
	margin: 0 0 0.2em 0;
}
dl {
	margin-bottom: 2em;
}
dt,
dd {
	float: left;
	border-bottom: 1px solid #eee;
}
dt {
	width: 45%;
}
dd {
	width: 55%;
}
.light-text {
	color: #999;
}

/*** SHARED
--------------------------------------------*/

/*** OBJECTS
--------------------------------------------*/

/*** IMAGES
--------------------------------------------*/

/*** LINKS
--------------------------------------------*/

/*** TABLES
--------------------------------------------*/

/*** FORMS
--------------------------------------------*/

/*** SELECTION HIGHLIGHTS
--------------------------------------------*/

::-moz-selection { background: #eee; color: #666; text-shadow: none; }
::selection { background: #eee; color: #666; text-shadow: none; }

/*** HELPER CLASSES
--------------------------------------------*/

/*** CLEARFIX
--------------------------------------------*/
.cf:before, .cf:after, dl:before, dl:after { content: ""; display: table; }
.cf:after, dl:after { clear: both; }
.cf, dl { *zoom: 1; }